<h1>ERB = Embedded Ruby</h1>
<section>
  <% if user_signed_in? %>
    Welcome back!
    <% else %>
    You are not signed in!
    <% end %>
</section>
<section>
  <%%= What does this do? %>
  <br>
  <%= 1+1 %>
</section>

<%= %>
<%#  %>
<% -%>